<div class="login-page">
<%= link_to image_tag("back1.png", :class => "back-button" ), root_path %>
<h2 class="login-title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
</div>
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
  </div>
    
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Password", autocomplete: "new-password" %>
  </div>

  <div class="actions login-button" >
      <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>