<div class="login-page">
  <h2 class="login-title">Payments</h2>
  <div class="actions login-button" >
    <%= link_to "Log out", destroy_user_session_path %>
  </div>
  <%= link_to "Categories", categories_path, :class => "link-payments"%>
  <p style="color: green"><%= notice %></p>

<h1>Payments</h1>

<div id="payments">
  <% @payments.each do |payment| %>
    <%= render payment %>
    <p>
      <%= link_to "Show this payment", payment, class: "btn btn-primary"%>
    </p>
  <% end %>
</div>

<%= link_to "New payment", new_payment_path, :class => "new-category" %>
