<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div class="payment-links">
  <%= link_to "Edit this payment", edit_payment_path(@payment), class: "btn btn-primary" %> |
  <%= link_to "Back to payments", payments_path, class: "btn btn-primary" %> |

  <%= button_to "Destroy this payment", @payment, method: :delete, class: "btn btn-primary" %>
</div>
