<div class="login-page">
<%= link_to image_tag("back1.png", :class => "back-button" ), categories_path %>
  <h2 class="login-title">Categories</h2>
  <div class="actions login-button" >
  <%= link_to "Log out", destroy_user_session_path %>

  </div>
  
  <h1>New category</h1>
  


<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div class="input">
    <%= form.text_field :icon, placeholder: "Icon" %>
  </div>
  <div>
    <%= form.submit class:"btn btn-primary"%>
  </div>

<% end %>
</div>