<div class="login-page">
  <h2 class="login-title">Categories</h2>
  <div class="actions login-button" >
    <%= link_to "Log out", destroy_user_session_path %>
  </div>
  <%= link_to "Payments", payments_path, :class => "link-payments"%>
  
  <div class="category-list">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path, :class => "new-category" %>
</div>