<p style="color: green"><%= notice %></p>

<%= render @category %>

<div class="category-links">
  <%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-primary" %> |
  <%= link_to "Back to categories", categories_path, class: "btn btn-primary" %> |

  <%= button_to "Destroy this category", @category, method: :delete, class: "btn btn-primary" %>
</div>
